*{
    user-select: none;
    -webkit-user-drag: none;
}


.body-flex{
    display: flex;
    flex-wrap: wrap;

    height: fit-content;
    max-height:80%;
    width:80%;

    padding:80px;

    justify-content: center;

    margin:auto;
    background-color: rgb(255, 221, 176);
    border-radius:40px;
    margin-top: 80px;
    top:0px;
}
.dice-image{
    transition-duration: 0.3s;
    transform:rotateY(0deg);
    max-width:190px;
    margin:23px;

}

@keyframes rollStartAnimation {
    0% {transform:rotateY(0deg)}
    100% {transform:rotateY(630deg);}
}
@keyframes rollEndAnimation {
    0% {transform:rotateY(630deg)}
    100% {transform:rotateY(720deg);}
}
.rolling-start{
    animation: rollStartAnimation 0.75s linear 1
}
.rolling-end{
    animation: rollEndAnimation 0.25s linear 1
}

.menu-section {
    position:absolute;
    
    
    display:flex;
    flex-wrap:wrap;

    overflow-y:scroll;

    scrollbar-width: none;

    width:340px;
    height:274px;

    border-radius: 15px;

    padding:17px;


    background-color: #B0E1DD;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);

    transition-duration: 0.2s;

}

#leftMenu{
    bottom:20px;
    left:12px;
    transform:translateX(-340px);
}
#leftMenu:hover{
    transform:translateX(0)
}
#rightMenu{
    bottom:20px;
    right:12px;
    width:420px;
    transform:translateX(340px);
}
#rightMenu:hover{
    transform:translateX(0)
}

.menu-text-layer{
    height:90%;
    margin-top:auto;
    margin-bottom:auto;

    display:flex;
    flex-wrap:wrap;
    justify-content: center;

    width:70px;

    border-radius: 7px;;

    padding:9px;
    padding-top:19px;

    font-family: Tahoma, sans-serif;
    font-size:21px;
    font-weight: medium;
    text-align: center;

    background-color: #9bc5c1;
}
.roll-stats-container{
    height:90%;
    margin-top:auto;
    margin-bottom:auto;

    justify-content: center;

    width:70%;
    margin-left: 15px;

    border-radius: 7px;

    padding:9px;
    padding-top:19px;

    font-family: Tahoma, sans-serif;
    font-size:21px;
    font-weight: medium;
    text-align: center;

    align-items: center;

    background-color: #9bc5c1;
}

.roll-stat-individual{
    width:fit-content;
    padding-left: 17px;
    padding-right: 17px;
    border-bottom:2px solid black;
    height:fit-content;
    margin-top:20%;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

#totalRollContainer{
    background-color: #d4fffb;
    height:60px;
    width:60px;
    margin-left:auto;
    margin-right:auto;
    border-radius:50%;
    font-weight: bold;

    margin-top:auto;
    margin-bottom:auto;

    display: flex;
    align-items:center;
    justify-content: center;

}


.menu-button{
    padding:12px;

    border-radius: 10px;;

    background-color: #d0e2cc;
}

.dice-adder{
    width:120px;
    height:120px;
    margin:8px auto;

    padding:0px;

    background-color:#00000000;

    display:flex;
    align-items: center;
    justify-content: center;
}
.dice-adder img{
    width:100%;
    height:100%;
}



#rollButton{
    position:absolute;
    bottom:60px;
    left:0;
    right:0;
    margin:auto;

    width:280px;
    height:74px;

    border-radius: 15px;

    display: flex;

    align-items: center;
    justify-content: center;

    background-color: #DDB0E1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}
#rollButton:hover { 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}


#rollText {
    font-family: Tahoma, sans-serif;
    font-size:29px;
    font-weight: bold;
    text-align: center;
}