html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(39, 39, 39);
    scrollbar-width:none;
    bottom:0;
    height:100vh;
    transition: all .3s ease-in;
    overflow-y:hidden;
    
}	

#beat_wrapper{
    display: flex;
    width:100%;
    height: 100%;
}
#main_wrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 30%;
    left: 30%;
    width:40%;
    height:40%;
    z-index: 17;
    flex-wrap: wrap;
}
#bpm_input{
    width: 80%;
    height: 15%;
    border-radius: 12px;
    font-size: 140%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: rgb(215, 230, 219);
    border: none;
}

#bpm_display{
    height: fit-content;
    width:100%;
    text-align:center;
    color:whitesmoke;
    font-size: 470%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button_default{
    width: 64%;
    height: 15%;
    border-radius: 12px;
    font-size: 140%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: rgb(132, 139, 134);
    border:none
}

.beat{
    height:100%;
    flex:1;
    transition-duration: 0.3s;
    opacity: 0.37;
}
.beat_crossed{
    background-color: #3b5949;
}
.beat_selected{
    border:4px solid gold;
    opacity: 1;
}
